[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
dotenv = "*"
related = "*"
python-pptx = "*"
sqlalchemy_utils = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
